@model List<Reporting.Data.Reporting.FirstReport()>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--  -->
        </td>
        <td>
            <!--
            @Html.ActionLink("Research", "Details/ACentriod/BCentroid") |
            -->
        </td>
    </tr>
}

</table>
